.hero-pages.hero-blog {
     .hero-inner {
        min-height: auto;
        width: 100%;
        flex-wrap: wrap;
        padding-top: 162px;
     }
     h1 {
        padding-left: 24px;
        padding-right: 24px;
        @include font-size(52px);
        text-transform: uppercase;
        font-family: $font-alternate;
        color: #453f3f;
     }
     .bottom-text {
        display: -ms-flexbox;
        display: flex;
        flex: 0 0 100%;
        padding: 12px 15px;
        text-transform: uppercase;
        color: $dark-gray;
        @include font-size(18px);
        border-top: 2px solid $dark-gray;
        border-bottom: 2px solid $dark-gray;
        background-color: #fff;
        text-align: center;
        justify-content: center;
        p {
            margin-bottom: 0;
            text-align: center;
        }
     }
    .nav-categories {
        ul {
            padding-legt: 0;
            list-style: none;
            text-align: center;
        }
        li {
            display: inline-block;
            position: relative;
            padding: 4px 12px;
        }
        li + li {
            
            &:before {
                position: absolute;
                content: '';
                width: 4px;
                height: 4px;
                background-color: $dark-gray;
                display: inline-block;
                top: 50%;
                left: -4px;
                transform: translate3d(0, -50%, 0);
            }
        }
        li a{
            font-weight: 700;
            color: $dark-gray;
            display: inline-block;
            padding: 0.5rem;
            @include font-size(21px);
        }
    }
}

.border-t {
    border-top: 2px solid $dark-gray;
}
.border-b {
    border-bottom: 2px solid $dark-gray;
}

.title-blog--section {
    padding: 24px;
    
    &.txt-center {
        text-align: center;
    }
    
    .title-blog {
        font-weight: 700;
        color: $dark-gray;
        font-family: $font-alternate;
        @include font-size(32px);
    }
    .title-blog--section {
        font-weight: 700;
        color: $dark-gray;
        font-family: $font-museo;
        @include font-size(32px);
        position: relative;
        &:after {
            position: absolute;
            content: '';
            bottom: 0;
            left: 24px; 
            width: 62px;
            height: 4px;
            background-color: #000;
        }
    }
    .title-blog--link {
        font-weight: 700;
        
        font-family: $font-alternate;
        @include font-size(42px);
        padding-top: 24px;
        a {
            position: relative;
            display: inline-block;
            padding-right: 32px;
            color: $dark-gray;
            &:before,
            &:after {
                content: '';
                position: absolute;
                width: 18px;
                height: 2px;
                border-radius: 3px;
                background-color: $dark-gray;
                right: 0;
                top: 50%;
                transform-origin: center right; 
            }
            &:before {
                transform: translate3d(0, -50%, 0) rotate(45deg);
            }
            &:after {
                transform: translate3d(0, -50%, 0) rotate(-45deg);
            }
        }
        
    }
}

.slider-frases--blog {
    .section-frases {
        background-color: #fff;
        .card-frases {
            color: #000;
        }
    }
}

.spacer-blog {
    padding:24px 0;
    position: relative;
    &:before {
        content: '';
        display: table;
    }
    &.border-t {
        border-top: 2px solid $dark-gray;
    }
    &.border-b {
        border-bottom: 2px solid $dark-gray;
    }
}


.page-header--archive {
    h1 {
        position: relative;
        display: inline-block;
        padding-right: 32px;
        color: #222120;
        font-family: $font-alternate;
        &:before,
        &:after {
            content: '';
            position: absolute;
            width: 18px;
            height: 2px;
            border-radius: 3px;
            background-color: $dark-gray;
            right: 0;
            top: 50%;
            transform-origin: center right; 
        }
        &:before {
            transform: translate3d(0, -50%, 0) rotate(45deg);
        }
        &:after {
            transform: translate3d(0, -50%, 0) rotate(-45deg);
        }
    }
    .list-child-categories {
        list-style: none;
        padding-left: 12px;
        display: inline-block; 
        li {
            display: inline-block; 
            padding: 0 6px;
            a {
                font-family: $font-alternate;
                @include font-size(26px);
                color: #A09EAD;
            }
        }
    }
    
}
.grid-sizer,
.grid-item {
        width: 25%;
        .card-post {
            padding: 0;
            margin-bottom: 15px;
        }
}

@media screen and (max-width: 992px) {
    .grid-sizer,
    .grid-item {
            width: 33.333%;
    }   
}
@media screen and (max-width: 767px) {
    .grid-sizer,
    .grid-item {
            width: 25%;
    }   
}
@media screen and (max-width: 620px) {
    .grid-sizer,
    .grid-item {
            width: 100%;
    }   
}