.card-frases {
    align-self: center;
    color: #fff;
    font-weight: 700;
    @include font-size(34px);
    //font-family: $font-heading;
    .card-body,
    .card-footer {
        background-color: transparent;
        border: none;
        padding: 0;
        p:last-of-type {
            margin-bottom: 0;
        }
    }
    .card-body {
        line-height: 1.25em;
    }
    .card-footer {
        @include font-size(16px);
        font-weight: 400;

    }
}

.card-post {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    .card-header,
    .card-body,
    .card-footer {
        padding: 0;
        border: none;
        background: transparent;
    }
    .card-image {
        border-radius: 50%;
        overflow: hidden;
        &.card-image--rounded {
            border-radius: 50%;
            overflow: hidden;
        }
        .card-image--inner {
            display: -ms-flexbox;
            display: flex;
        }
        canvas {
            width: 100%;
            background-size: cover;
            background-position: center center;
            border-radius: 50%;
            overflow: hidden;
            transform: scale(1);
            transition: 500ms transform ease;
        }
    }
    .card-header {
        padding-top: calculateRem(24px);
        h3 {
            font-family: $font-alternate;
            color: $brand-blue-dark;
            @include font-size(24px);
            margin-top: 0;
            margin-bottom: calculateRem(16px);
        }
        p {
            color: #a09ead;
            font-family: $font-scala;
            @include font-size(14px);   
            text-transform: uppercase;
        }
    }
    .card-body {
        font-family: $font-scala;
        color: black;
        @include font-size(16px);
        line-height: 1.35em;
        
    }
    .card-footer {
        padding-top: 16px;
        .btn-link.btn-fk {
            text-transform: uppercase;
            color: #e27c61;
            @include font-size(16px);
        }
    }
    .card-post--inner {
        &:hover {
            text-decoration: none;
            canvas {
                transform: scale(1.15);
            }
        }
    }
    &.card-post--align-left {
        text-align: left;
    }
    .post-categories {
        list-style: none;
        padding-left: 0;
        margin: 0 0 6px 0;
        li {
            text-transform: uppercase;
            @include font-size(14px);
        }
    }
    &.card-post--default {
        text-align: left;
        .card-image {
            border-radius: 0;
            &.card-image--rounded {
                border-radius: 50%;
                overflow: hidden;
            }
            canvas {
                border-radius: 0;
            }
        }
    }
}
.card-post.card-post--search {
    .card-image {
        border-radius: 0;
        .card-image--inner {
            position: relative;
        }
        canvas {
            border-radius: 0;
        }
    }
    .label.label-primary {
        position: absolute;
        top: 16px;
        left: 16px;
        background-color: $primary-color;
        z-index: 2;
        padding: 4px 6px;
        color: #000;
        border-radius: 2px;
    }
    .card-header p {
        color: #454545;
        text-transform: none;
    }
}

.card-articulos,
.card-meditaciones {
    height: inherit;
    padding-left: 15px;
    padding-right: 15px;
    height: inherit;
    
    .card-image,
    .card-header,
    .card-body,
    .card-footer {
        padding: 0;
        border: none;
        background: transparent;
        flex: 0 0 100%;
    }
    .card-image,
    .card-header,
    .card-body {
        margin-top:0;
    }
    .card-image--inner {
        position: relative;
        overflow: hidden;
        &:before {
            position: absolute;
            width: 100%;
            height: 100%;
            content: '';
            background-color: $primary-color;
            opacity: 0;
            transition: 300ms opacity ease;
        }
    }
    .card-header {
        padding-top: 12px;
        padding-bottom: 12px;
        .card-header-play {
            display: -ms-flexbox;
            display:flex;
            flex-wrap: nowrap;
            .icon {
                flex: 0 0 30px;
                align-self: center;
                svg {
                    width: 100%;
                }
            }
            .title {
                flex: 0 0 calc(100% - 30px);
                align-self: center;
                padding-left: 15px;
                margin: 12px 0;
            }
        }
        h3 {
            font-family: $font-scala;  
            font-weight: 700;
            color: $coral;
            text-transform: uppercase;
            @include font-size(16px);
            transition: 300ms color ease;
        }
    }
    .card-body {
        color: black;
        p:last-of-type{
            margin-bottom: 0;
        }
    }
    .card-footer {
        margin-top: auto;
        align-self: flex-end;
        color: #a09ead;
        padding-top: 16px;
        .meditation-time {
            font-weight: 400;
            text-transform: uppercase;
            @include font-size(14px);
        }
    }
    .card-post--inner {
        display: block;
        &:hover {
            text-decoration: none;
            .card-header .card-header-play h3{
                color: $primary-color;
            }
            .play-icon {
                circle {
                    stroke:$primary-color;
                }
                path {
                    fill: $primary-color;
                }
            }
            .card-image--inner:before {
                opacity: 0.35;
            }
        }
    }
}
.grid-masonry {
    .card-meditaciones {
        height: auto;
        width: 100%;
        display: block;
        .card-post--inner {
            height: auto;
            width: 100%;
            display: block;
        }
        .card-image,
        .card-header,
        .card-body,
        .card-footer {
            width: 100%;
            display: block;
        }
        .card-footer {
            padding-bottom: 16px;
            margin-bottom: 16px;
            border-bottom: 1px solid rgba(0,0,0,0.05);
            border-radius: 0;
        }
    }
}
.card-icon {
    padding-top: 12px;
    padding-bottom: 12px;
    .card-image {
        padding: 0;
    }
    .card-body {
        padding-left: 0;
        padding-right: 0;
        color: #000;
        @include font-size(18px);
        p:last-of-type {
            margin-bottom: 0;
        }
    }
}

.card-default {
    padding: 15px;
    .card-inner {
        border-radius: 0;
        border: 2px solid #000;
        width: 100%;
    }
    .card-header {
        background-color: #f2f0eb;
        border-radius: 0;
        border: none;
        border-bottom: 2px solid #000;
        padding: 24px;
        h3 {
            color: #333;
            font-family: $font-alternate;
            background-color: #f2f0eb;
            @include font-size(24px);
            text-transform: uppercase;
            font-weight: 700;
        }
        .sub-header {
            margin-top: 10px;
            @include font-size(16px);
            color: #000;
            font-weight: 200;
            font-family: $font-scala;
            p:last-of-type {
                margin-bottom: 0;
            }
        }
    }
    .card-body {
        padding: 24px;
        background: transparent;
        color: #000;
        .info-item {
            display: -ms-flexbox;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            p:last-of-type {
                margin-bottom: 0;
            }
            &.info-item--course-dates {
                flex-wrap: wrap;
                @include font-size(14px);
                font-weight: 400;
                font-family: $font-scala;
                ul {
                    padding-left: 15px;
                    width: 100%;
                }
                p {
                    width: 100%;
                }
            }
            &.info-item--general {
                font-family: $font-scala;
            }
        }
        .info-item--icon {
            width: 24px;
            height: 24px;
            flex: 0 0 24px;
            background-repeat: no-repeat;
            background-size: 24px 24px;
        }
        .info-item--body {
            padding-left: 8px;
            @include font-size(24px);
            @include font-size(16px);
            font-family: $font-alternate;
            font-family: $font-scala;
            font-weight: 700;
            .price {
                padding-top: 6px;
            }
        }
        .info-item + .info-item {
            margin-top: calculateRem(8px);
        }
        .link-payment-method {
            padding: 0;
            border: none;
            background: transparent;
            @include font-size(13px);
            text-decoration: none;
            color: #8ab1b8;
            margin-top: 8px;
            margin-top: 6px;
            display: block;
        }
    }
    .card-footer {
        padding: 24px;
        padding-top: 0;
        background: transparent;
        border: none;
        border-top: none;
    }
}


.info-item--classroom .info-item--icon {
    background-image: url('../img/icons/icono-screen.jpg');
}
.info-item--dates .info-item--icon {
    background-image: url('../img/icons/icono-calendario.jpg');
}
.info-item--place .info-item--icon {
    background-image: url('../img/icons/icono-ubicacion.jpg');
}
.info-item--seats .info-item--icon {
    background-image: url('../img/icons/icono-plazas-limitadas.jpg');
}
.info-item--language .info-item--icon {
    background-image: url('../img/icons/icono-idioma-2.jpg');
}
.info-item--teacher .info-item--icon {
    background-image: url('../img/icons/icono-instructor.jpg');
}
.info-item--price .info-item--icon {
    background-image: url('../img/icons/icono-tarjeta.jpg');
    align-self: flex-start;
    background-position: left top 4px;
}
.slick-circle {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 1px solid #89b1b7;
    bottom: -82px;
    top: auto;
    z-index: 2;
    color: #89b1b7;
    background-color: transparent;
    transition: 300ms color ease, 300ms background-color ease;
    &::before {
        content: none;
    }
    &.slick-prev {
        left: auto;
        right: 64px;
    }
    &.slick-next {
        right: 0;
    }
    svg {
        fill: #89b1b7;
        width: 14px;
        height: auto;
    }
    &:hover,
    &:focus {
        color: #89b1b7;
        background-color: rgba(50,50,50,0.035);
    }
}
.slick-cursos {
    .slick-circle.slick-next {
        right: 16px;
    }
}

button.circle {
    display: none;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid #453f3f;
    position: absolute;
    bottom: 24px;
    margin: 0;
    -webkit-transition: .3s -webkit-transform ease;
    transition: .3s -webkit-transform ease;
    transition: .3s transform ease;
    transition: .3s transform ease,.3s -webkit-transform ease;
    -webkit-transform: rotate(0);
    transform: rotate(0);

    margin-bottom: -42px;
    background-color: #f2f0eb;

    box-shadow: 0 4px 0 rgba(50,50,50,0.1);

    &:after, &:before {
        content: '';
        width: 17px;
        height: 2px;
        left: 50%;
        top: 50%;
        position: absolute;
        -webkit-transform: translate3d(-50%,-50%,0);
        transform: translate3d(-50%,-50%,0);
        display: inline-block;
        background-color: #453f3f;
        -webkit-transition: .3s -webkit-transform ease;
        transition: .3s -webkit-transform ease;
        transition: .3s transform ease;
        transition: .3s transform ease,.3s -webkit-transform ease;
    }
    &:after {
        -webkit-transform: translate3d(-50%,-50%,0) rotate(90deg);
        transform: translate3d(-50%,-50%,0) rotate(90deg);
    }
    &.active {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        &:after {
            -webkit-transform: translate3d(-50%,-50%,0) rotate(0);
            transform: translate3d(-50%,-50%,0) rotate(0);
        }
    }
}
    