.tnp-subscription {
    
    &.tnp {
        max-width: 100%;
    }
    .input-group input[type="email"] {
        width: 1%;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        &:focus,
        &:focus-visible {
            outline: none;
            border: 1px solid $secondary-color;
        }
    }
    .input-group input[type="submit"] {
        width: auto;
        width: auto;
        border-radius: 2px;
        border: 1px solid #fff;
        background: #000;
        color: #fff;
        padding-left: 24px;
        padding-right: 24px;
        font-weight: 700;
        font-family: $font-alternate;
        font-size: 18px;
        z-index: 1;
    }
}

.wpcf7 {
    max-width: 100%!important;
    .form-control, 
    .wpcf7 .wpcf7-validation-errors, 
    .wpcf7 input[type=color], 
    .wpcf7 input[type=date], 
    .wpcf7 input[type=datetime-local], 
    .wpcf7 input[type=datetime], 
    .wpcf7 input[type=email], 
    .wpcf7 input[type=file], 
    .wpcf7 input[type=month], 
    .wpcf7 input[type=number], 
    .wpcf7 input[type=range], 
    .wpcf7 input[type=search], 
    .wpcf7 input[type=tel], 
    .wpcf7 input[type=text], 
    .wpcf7 input[type=time], 
    .wpcf7 input[type=url], 
    .wpcf7 input[type=week], 
    .wpcf7 select, 
    .wpcf7 textarea {
        border-radius: 0;
        border: none;
        border-bottom: 1px solid rgba(0,0,0,0.25);
        padding-left: 0;
        padding-right: 0;
        background-color: transparent;
        color: #000;
        &:focus {
            background-color: transparent;
            border-bottom: 1px solid rgba($primary-color, 1);
        }
        &:-moz-placeholder,
        &::-webkit-input-placeholder,
        &::placeholder {
            color: #000;
            opacity: 1;
        }
    }
    .wpcf7-list-item label {
        color: #000;
        a {
            color: #000;
            text-decoration: underline;
        }
    }
}
.btn.btn-outline.btn-outline--orange {
    border: 2px solid $secondary-color;
    color: $secondary-color;
    padding-left: 32px;
    padding-right: 32px;
    background-color: transparent;
    font-weight: 700;
    text-transform: uppercase;
    width: auto;
    line-height: 1.15em;
    height: auto;
    border-radius: 32px;
    transition-property: color, background-color;
    transition: 300ms ease;
    &:hover {
        color: #fff;
        background-color: $secondary-color;
    }
}

.tnp-subscription.tnp .es-field-wrap label {
    color: #222120;
}
.tnp-subscription input[type=text], .tnp-subscription input[type=email] {
    &:focus,
    &:focus-visible {
        outline: none!important;
        border: 1px solid $secondary-color!important;
    }
}


.no-results.not-found {
    .input-group>.form-control {
            height: calc(2.75em + .75rem + 2px);
    }
}

.checkbox-trigger,
.checkbox-component {
    display: -ms-flexbox;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    &.active {
        .checkbox-box:after {
            transform: translate3d(-50%,-50%,0) scale(1);
        }
    }
    &.trigger-courses,
    &.trigger-retiros {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
.checkbox-box {
    flex: 0 0 18px;
    height: 18px;
    border: 2px solid;
    border-radius: 50%;
    position: relative;
    &:after {
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: $secondary-color;
        transform-origin: center center;
        transform: translate3d(-50%,-50%,0) scale(0);
        transition: 300ms transform ease;
    }
}
.checkbox-text {
    padding-left: 8px;
}

.box-radios {
    background-color: #fff;
    border-radius: 3px;
    padding: 24px;
    margin-top: 8px;
    .row .form-group:last-of-type {
        margin-bottom: 0;
    }
}

.form-checkbox {
    .wpcf7-list-item {
        margin-left: 0;
    }
}