.home #main-nav {
    /*
    position: absolute;
    width: 100%;
    z-index: 99;
    */
}

/*
    html, body { height: auto; }
*/
.hero-psyke {
    position: relative;
}
.hero-slide {
    height: 100vh;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    background-position: center center;
    background-repeat: no-repeat;

    overflow: hidden;
    
    /* background-attachment: fixed; */
    /*
    position: sticky;
    top: 0;
    */
    background-size: cover;
    .hero-container {
        background-size: cover;
        height: 100vh;
        width: 100%;
        display: -ms-flexbox;
        display: flex;
        background-position: center center;
        background-repeat: no-repeat;
        justify-content: flex-end;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: url('../img/base/noise-standard.gif');
            background-position: center center;
            background-repeat: repeat;
            opacity: 0.025;
        }
    }
    &.hero-slide-01 {
        .hero-container {
            background-image: url('../img/assets/hero-image-001.jpg');
        }
    }
    &.hero-slide-02 {
        .hero-container {
            background-image: url('../img/assets/hero-image-002.jpg');
        }
    }
    &.hero-slide-03 {
        .hero-container {
            background-image: url('../img/assets/hero-image-003.jpg');
        }
    }
    .hero-content {
        width: 50%;
        align-self: center;
        position: relative;
        z-index: 2;  
    }
    .goToContent--item {
        
        color: white;
        font-family: $font-heading;
        @include font-size(72px);
        line-height: 0.85em;
        display: block;
        padding: 24px 0;
        a {
            display: inline-block;
            color: white;
            opacity: 0.65;
            transform: scale(1);
            transition-property: opacity, transform;
            transition: 300ms ease-in-out;
            font-weight: 400;
            &:hover {
                text-decoration: none;
                opacity: 1;
                transform: scale(1.1);
            }
        }
        p {
            @include font-size(18px);
            font-family: $font-scala;
            text-transform: uppercase;
            line-height: 1.5em;
            margin-top: 21px;
            font-weight: 400;
        }
    }
}

.stamp {
    position: fixed;
    right: 10%;
    bottom: 46px;
    width: 105px;
    height: 105px;
    display: -ms-flexbox;
    display: flex;
    justify-content: center; 
    align-items: center;
    .stamp--inner {
        position: relative;
        color: white;
        font-weight: 600;
        font-family: $font-heading;
        @include font-size(10px);
        width: 105px;
        height: 105px;
        line-height: 105px;
        text-align: center;
        &:before {
            content: '';
            background-image: url('../img/base/stamp-txt.svg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 105px;
            height: 105px;
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            -moz-animation: rotate-animation 10s infinite linear;
            -webkit-animation: rotate-animation 10s infinite linear;
            animation: rotate-animation 10s infinite linear;

        }
    }
}

.hero-content-bg {
    height: 100vh;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    background-position: center center;
    background-repeat: no-repeat;
    justify-content: flex-end;
    position: relative;
    
}

@-moz-keyframes rotate-animation {
    0% {
      -moz-transform: rotate(0deg); }
    50% {
      -moz-transform: rotate(180deg); }
    100% {
      -moz-transform: rotate(360deg); } }
  @-webkit-keyframes rotate-animation {
    0% {
      -webkit-transform: rotate(0deg); }
    50% {
      -webkit-transform: rotate(180deg); }
    100% {
      -webkit-transform: rotate(360deg); } }
  @keyframes rotate-animation {
    0% {
      transform: rotate(0deg); }
    50% {
      transform: rotate(180deg); }
    100% {
      transform: rotate(360deg); } }


.fixed-menu {
    position: fixed;
    right: 24px;
    top: 50%;
    transform: translate3d(0,-50%, 0);
    z-index: 99;
    width: 46px;
    .fixed-menu--inner {
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    ul {
        list-style: none;
        padding-left: 0;
        li {
            text-align: center;
            display: block;
            a {
                display: block;
                
            }
        }
    }
    .menu-user {
        a {
            width: 46px;
            height: 46px;
            padding: 0;
            margin: 8px 0;
            svg {
                width: 100%;
            }
        }
    }
}
.stColor {
    fill: rgba(172,161, 141, 0.9);
}


/* 
//
// MOUSE ??????
//
*/
.cursor {
    position: fixed;
    background-color: $primary-color;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    z-index: 1;
    transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
        0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
    transform: scale(1);

    &.active {
        opacity: 1;
        transform: scale(0);
    }

    &.menu-active {
        opacity: 1;
        transform: scale(0);
    }

    &.hovered {
        opacity: 1;
    }
}

.cursor-follower {
    position: fixed;
    border:1px solid rgba($primary-color, 0.5);
    width: 30px;
    height: 30px;
    border-radius: 100%;
    z-index: 1;
    transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
        0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
    transform: translate(2px, 2px);
    //overflow: hidden;

    &.active {
        opacity: 1;
        transform: scale(3);
    }

    &.menu-active {
        opacity: 1;
        transform: scale(3);
    }

    &.hovered {
        opacity: 1;
    }

}
.touchevents {
    .cursor,
    .cursor-follower {
        display: none;
        visibility: hidden;
        height: 0;
    }
}