
.site-footer {
  background-color: $dark-gray;
  .social-media {
    margin-top: 24px;
  }
}

.navbar-brand--footer {
  display: block;
  width: 200px;
  .smile-base {
    fill: $primary-color;
  }
  .smile-group path{
    fill: black;
  }
  .psyke-type .st1 {
    fill: #959596;
  }
  .psyke-type .st2 {
    fill: white;
  }
  
}

.footer-tagline {
  padding: 24px 0px 32px 58px;
  color: #fff;
  @include font-size(14px);
  max-width: 320px;
}

.contact-info--footer {
  p {
    margin-bottom: 0;
    a {
      text-decoration: none;
      color: white;
      &:hover {
        color: $primary-color;
      }
    }
  }
}

.txt-legal {
  @include font-size(13px);
  letter-spacing: 0.05em;
}
.menu-footer--copyright {
  display: inline-block;
  .menu-copyright-menu-container {
    display: inline-block;
    ul {
      display: inline-block;
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;
      li {
        display: inline-block;
      }
      li + li {
        margin-left: 5px;
      }
    }
  }
}

.navbar-footer {
  ul {
    list-style: none;
    padding-left: 0;
    li {
      display: block;
      width: 100%;
      a {
        display: inline-block;
        color: #fff;
        padding: 0.25rem 0;
        &:hover {
          color: $primary-color;
        }
      }
    }
  }
}

.social-media {
  li a {
    background-color: $primary-color;
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    svg {
      width: 1rem;
      margin: auto;
    }
    &:hover {
      background-color: $secondary-color;
      color: #fff;
    }
  }
  .facebook a svg {
    max-width: 10px;
  }
}

.suscribe-text {
  font-family: $font-alternate;
  color: #fff;
  padding: 15px 0;
  padding-top: 32px;
  h4 {
    @include font-size(34px);
    margin: 0;
  }
  p {
    @include font-size(20px);
    margin: 0;
  }
}
@media screen and (min-width: 992px) {
  .suscribe-text {
    text-align: right;
  }
}

#page {
  position: relative;
  z-index: 2;
}
#wrapper-footer.footer-fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.categories-footer-blog {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: calculateRem(62px) 0;
  margin-bottom: calculateRem(92px);

  height: 0;
  display: none;
  visibility: hidden;

  .category-footer-list {
    display: -ms-flexbox; 
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    margin-left: -15px;
    margin-right: -15px;
  }
  .category-item {
    padding: 0 15px;
    ul {
      list-style: none;
      padding-left: 0;
    }
    li a {
      color: #fff;
      font-family: $font-museo;
      @include font-size(24px);
      font-weight: 700;
      margin-bottom: 18px;
      display: inline-block;
      &:hover {
        text-decoration: underline;
      }
    }
    li {
      ul li a {
        font-weight: 400;
        @include font-size(16px);
        margin-bottom: 4px;
      }
    }
  }
}

footer.site-footer .tnp-subscription input[type=text], .tnp-subscription input[type=email], .tnp-subscription select {
  border-radius: 2px;
}
footer.site-footer .tnp-subscription input[type=text] {
  padding-right: 115px;
}
 footer.site-footer .tnp-subscription input[type=submit] {
  background-color: #000;
  color: #fff;
  position: absolute;
  top: 40px;
  right: 21px;
  height: 48px;
  width: 100px;
  font-family: $font-alternate;
  font-size: 20px;
  font-weight: 700;
 }

.page-template-blog-page .categories-footer-blog,
.archive.category .categories-footer-blog,
.single-post .categories-footer-blog,
.blog .categories-footer-blog {
  height: auto;
  display: block;
  visibility: visible;
}

.fast-links {
  padding-top: calculateRem(32px);
  margin-top: calculateRem(32px);
  border-top: 1px solid rgba(25,25,25,0.15);
  .menu-badge {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    margin-left: -4px;
    margin-right: -4px;
  }
  .badge-link {
    border: 2px solid rgba(25,25,25,0.15);
    color: rgba(25,25,25,0.65);
    padding: 8px 16px;
    border-radius: 24px;
    @include font-size(14px);
    margin: 4px;
    &:hover {
      text-decoration: none;
      background-color:rgba(25,25,25,0.65);
      color: #fff;
    }
  }
}